<p id="notice"><%= notice %></p>

<%= turbo_frame_tag 'user' %>

<div class="mt-8" data-controller="user-modal" data-user-modal-prevent-default-action-opening="false">
  <%= render partial: 'users/modal_form' %>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
      <div>
        <h1 class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-cool-gray-900 sm:px-6 lg:px-8">
          All Users
        </h1>
      </div>

      <div class="inline-flex mt-3 w-2/5 form-group">
<input type="text" name="search" id="searchInput" onkeyup="filterList()" class="form-control p-2" placeholder="search users" />
</div>


      <div>
        <span class="inline-flex rounded-md shadow-sm">
          <%= link_to 'New User', new_user_path, class: "btn btn-primary", data: { action: "click->user-modal#open", 'turbo-frame': 'user' } %>
        </span>
      </div>
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col mt-2">
      <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
        <table class="min-w-full divide-y divide-cool-gray-200">
          <thead>
          <tr>
            <th onclick="sort_table(usersTableBody, 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;" class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider">Title</th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider">Name</th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider">Phone</th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider">Status</th>
            <th colspan="1" class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider"></th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-cool-gray-200" id="usersTableBody">
          <% @users.each do |user| %>
            <tr class="js--userRow">
              <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-900">
                <%= user.title %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-500">
                <%= user.name %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-500">
                <%= user.email %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-500">
                <%= user.phone %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-500">
                <%= user.status %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-500">
                <%= link_to 'Edit', edit_user_path(user), class: "btn btn-secondary", data: { action: "click->user-modal#open", 'turbo-frame': 'user' } %>
                <%= link_to 'Delete', user, class: "btn btn-danger outline sm:mt-0", method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
   filterList = () => {
       let searchInput, filter, tr, i, td, txtValue;
       
       searchInput = document.getElementById('searchInput');
       filter = searchInput.value.toUpperCase();
       trs = document.querySelectorAll('.js--userRow');
       trs.forEach(tr => tr.style.display = [...tr.children].find(td => td.innerHTML.toUpperCase().includes(filter)) ? '' : 'none');
   };

   let users, asc1 = 1,
            asc2 = 1,
            asc3 = 1;
        window.onload = function () {
            users = document.getElementById("usersTableBody");
        }

   sort_table = (tbody, col, asc) => {
            var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                cells = rows[i].cells;
                clen = cells.length;
                arr[i] = new Array();
                for (j = 0; j < clen; j++) {
                    arr[i][j] = cells[j].innerHTML;
                }
            }
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });
            // replace existing rows with new rows created from the sorted array
            for (i = 0; i < rlen; i++) {
                rows[i].innerHTML = "<td class='px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-900'>" + arr[i].join("</td><td class='px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-900'>") + "</td>";
            }
        }
</script>